body{
    background: url('../resources/images/main_background.png') center center no-repeat;
    background-size: cover;
    font-family: RegularText;
    color: white;
}
    .container {
        width: 500px;
        height: 300px;
        background: white;
        color: $dark;
        margin:0 auto;
        margin-top: 100px;
        box-shadow: 2px 2px 5px black;
        .inner_container {
            width: 500px;
            height: 300px;
            color: white;
            background: $violet;
            transform: translateX(20px) translateY(20px);
            box-shadow: 2px 2px 5px black;
            text-align: center;
            position: relative;
            h1 {
                text-align: center;
                margin-top: 10px;
            }
            .buttons {
                position: absolute;
                bottom: 15px;
                left: 0;
                right: 0;
            }
        }
    }
    
.container_large {
    width: 900px;
    min-height: 1000px;
    background: white;
    .inner_container {
        width: 100%;
        min-height: 1000px;
        background: $violet;
        transform: translateX(20px);
         box-shadow: 2px 2px 5px black;
        h1 {
            text-align: center;
            padding: 5px;
            box-shadow: 2px 2px 5px black;
        }
    }
}
.questions_page {
    display: flex;
.container_large {
    width:50%;
}
 .test_informations_area {
        width: 50%;
        padding-left: 100px;
        padding-top: 100px;
    }
}