.inputfield_component {
    margin-bottom: 15px;
    label {
        display: block;
        font-size: 11px;
        margin-bottom: 10px;
    }
    .input_text {
        width: 300px;
        height: 25px;
        text-align: center;
        color: white;
        background: transparent;
        border: none;
        border-bottom: 1px solid white;
        border-right: 1px solid white;
        outline: none;
        cursor: pointer;
        font-size: 24px;
        &:focus {
            cursor: text;
        }
    }
}
.progress_bar {
    .progress_container {
        width: 200px;
        position: relative;
        .value {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            text-align: center;
            height: 200px;
            line-height: 200px;
            font-size: 30px;
        }
    }
}
.multiple_answer_component,
.single_answer_component, 
.text_area_answer,
.drag_and_drop_component {
    padding: 50px;
     .question {
        width: 100%;
        box-shadow: 5px 5px 15px black;
        padding: 10px;
        font-size: 24px;
    }
}

.checkbox_component {
    margin-bottom: 20px;

    input[type=checkbox] {
        display: none;
    }
    input[type=checkbox]+label {
        display: inline-block;
        width: 20px;
        height: 20px;
        background: white;
        margin-right:10px;
        padding: 0;
    }
     input[type=checkbox]:checked + label {
         background-image:url('../resources/images/green-avatar-checkmark.png');
         cursor: pointer;
    }
  
    span {
         display: inline-block;
         height: 20px;
         transform: translateY(-5px);
        }
    }

.radio_button_component {
    margin-top: 20px;
    cursor: pointer;
    position: relative;
    input[type=radio] {
       width: 20px;
       height: 20px;
       position: absolute;
       z-index: 2;
       opacity: 0;
       cursor: pointer;
        & + label {
            display: inline-block;
            width: 20px;
            height: 20px;
            background: white;
            margin-right: 10px;
            border-radius: 50%;
            cursor: pointer;
            position: relative;
        }
        &:checked + label > label {
            display: block;
            width:10px;
            height: 10px;
            background: $green;
            border-radius: 50%;
            position: absolute;
            left: 5px;
            top: 5px;
        }
    }
     span {
         display: inline-block;
         height: 20px;
         transform: translateY(-5px);
        }
    
}
.text_area_answer {
    textarea {
        width: 80%;
        height: 300px;
        resize: none;
        font-size: 18px;
    }
}
.drag_and_drop_component {
    .dragable_div {
        width: 200px;
        height: 200px;
        border: 1px solid red;
        background: $dark;
    }
}